chardet==5.2.0
click==8.1.6
Cython==3.0.0
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
decorator==5.1.1
nbformat==5.9.2
numpy==1.24.4
pandas==2.0.3
pandas-datareader==0.10.0
plotly==5.16.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
urllib3==2.0.4
Werkzeug==2.2.3
scipy==1.10.1
